    
td { 
    padding: 1pt; 
    vertical-align:center; 
    padding-left: 5pt;
}
th { 
    text-align: center;
}
h1 { 
    position: fixed; 
    top: 0pt; 

    color: #ffffff; 
    width: 100%; 
    height: 66px; 
    z-index: 1; 
    display: flex; 
    margin-top: 0pt; 
    padding-left: 6pt; 
    align-items: center;}
h2 { 
    border-bottom: thick double #32a1ce; 
    background-color: #ffffff;
}
h3 { 
    margin-left: 6pt; 
    border-bottom: solid  #b0c4de;
}
h4 { 
    font-size: 12pt; 
    margin-left: 5pt;
    margin-bottom: 5pt; 
}
h5 { 
    margin-bottom: 4pt; 
    font-size: 22pt; 
    color: #0952b3;
}
a { 
    text-decoration: none;
}
dt { 
    margin-left: 10pt;
}
li { 
    margin-left: 20pt;
}
body { 
    font-family: "venn", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 11pt; 
}
h3, h4 { 
    font-size: 12pt; 
    font-family: "filson-pro", sans-serif; 
    font-weight: 700; 
    font-style: italic;
}
h1, h2, h5 { 
    font-family: "filson-pro", 
    sans-serif; font-weight: 700; 
    font-style: normal;
}
tr { 
    font-family: "venn", sans-serif; 
    font-weight: 400; 
    font-style: italic; 
    font-size: 11pt; 
}
code { 
    font-family: "venn", sans-serif; 
    font-weight: 300; 
    font-style: normal; 
    font-size: 11pt; 
}

section {
    margin: 18pt;
    margin-right: 4pt;
    background-color: #fefaf3;
}
.structMember { 
    text-align: right; 
    padding-right: 9pt;
}
tr td:first-child { 
    font-family: "venn", sans-serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 12pt; 
}
tr:nth-child(even) { 
    background-color: #fefaf3;
}
tr:nth-child(odd) { 
    background-color: #fcecce;
}
.enumTable tr:nth-child(even) { 
    background-color: #fefaf3;
}
.enumTable tr:nth-child(odd) { 
    background-color: #fcecce;
}
.enumTable td { 
    padding-left: 9pt; 
    padding-right: 9pt;
}
.paramsTable td {
    padding-left: 9pt; 
    padding-right: 9pt;
}
.ruled table { 
    border-collapse:collapse; 
    border-spacing:0; 
    border-style:hidden;
}
table { 
    border: solid #f9d186 1px;
}
.ruled th { 
    padding-left: 12pt; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black;
}
.ruled td { 
    padding-left: 12pt; 
    border-right: 1px solid black; 
    border-bottom: 1px solid black;
}
.ruled tr:last-child{ 
    border-bottom:0; 
}
.ruled th:last-child{ 
    border-right:0;
}
.ruled td:last-child{ 
    border-right:0;
}
.fullTOC { 
    display: flex; 
    position:fixed; 
    height:100%; 
    width:20%;
    top:72px; 
    float: left; 
    z-index: 1;
    left: 0px;
}
.fullTOC iframe { 
    padding-bottom: 70pt; 
    border: solid #dcdcdc; 
    background-color: #0952b3;
}
.objDoc { 
    margin-left: 21%; 
    width:79%; 
    margin-top:72px;
    top: 16px;
    float: right; 
    padding-bottom: 50pt; 
    position:absolute; 
    right: 0pt; 
    left: 0pt; 
    margin-right: 20pt; 
    margin-left: 240pt; 
    margin-top: 0pt; 
    min-width: fit-content;
}
.headerRef, .relatedMethods { 
    float:right;max-width:20%;
}
#coverPage {
    min-height:360px; 
    min-width:270px; 
    border: 2px silver dotted;
}