
tr:nth-child(even) { 
    background-color: #fefaf3;
}
tr:nth-child(odd) { 
    background-color: #fcecce;
}
td { 
    padding-left: 5pt;
}
#logo {
    height: 66px; 
    border-bottom: 1px solid black; 
    padding-bottom: 5px; 
    width: auto; 
    background: #ffffff; 
    position: fixed; 
    z-index: 1;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease-in;
}
#logo:hover{
    background-color: #f2a20c3;
    color: #0510261;
    box-shadow: 0 0 3px #f2a20c3;
}
.objDoc { 
    display: flex; 
    flex-direction: column; 
    margin-left: 310px;
}
form { 
    display: flex; 
    justify-content: center; 
    border-bottom: 1px solid black; 
    padding-bottom: 5px;
    background-image: linear-gradient(to right, rgba(187,212,240,0), rgba(12,112,242,1));
}
#search-data {
    font-size: 20pt; 
    border-radius: 10pt; 
    margin-top: 10pt;
}
#search-index {
    font-size: 15pt; 
    display: flex; 
    flex-direction: column;
}
.verSelectv{
    position: fixed;
    z-index: 2; 
    top: 35px; 
    left: 0px;
}
#ver{
    height: 45px; 
    border-width: 0px;
}
