
#clear {
    font-style: normal;
    text-decoration: none;
    display: flex;
    background: #ffffff;
    margin-bottom: 4px;
    margin-left: 5px;
    border-radius: 7px;
    width: 14pt;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    color: #f2a20c;
    border: 3px solid #051026;
    transition: all 0.2s ease-in-out;
}  
#clear:hover {
    background-color: #f2a20c3;
    color: #0510261;
    box-shadow: 0 0 3px #f2a20c3;
}      
.searchbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
form { 
    display: flex; 
    justify-content: center; 
    border-bottom: 1px solid black; 
    padding-bottom: 5px;
}
#search-data {
    font-size: 12pt; 
    border-radius: 5pt; 
}
body {
    font-size: 11pt; 
    font-family: "venn", sans-serif; 
    font-weight: 400; 
    font-style: italic;
    overflow-x: auto;
    width: 150%;
}
ul { 
    list-style-type: none; 
    padding-left: 30px;
}
input[type=checkbox] { 
    display: none; 
}
input[type=checkbox] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 0.25s ease;  
   -moz-transition:all 0.25s ease;  
   -o-transition:all 0.25s ease;  
   transition:all 0.25s ease;  
}
input[type=checkbox]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
    padding-bottom: 10pt;
	opacity: 1;
}
input[type=checkbox] + label:before{
	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;	
  border-left-color: #c1c3c9;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
   -webkit-transition:all 0.25s ease;  
   -moz-transition:all 0.25s ease;  
   -o-transition:all 0.25s ease;  
   transition:all 0.25s ease; 
	position: absolute;
	margin-top: 1px;
}
input[type=checkbox]:checked + label:before { 
    transform: rotate(90deg); 
}
li {
    padding-bottom: 3pt;
}
